<!DOCTYPE html>
<html>
<!--W3 Local Scripts-->
<!--
<script src="../public/javascripts/bootstrap.min.js"></script>
<script src="../public/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="../public/stylesheets/w3.css">
<link rel="stylesheet" href="../public/stylesheets/w3-theme-blue.css">
<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
-->
<title>Course Reference</title>

<link rel="stylesheet" href="../public/stylesheets/style.css"> <!-- LOCAL VERSION -->
<script src="../public/javascripts/myQlearner.js"></script> <!-- LOCAL VERSION -->

<!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> <!-- APP VERSION -->
<!--<script src="/javascripts/myQlearner.js"></script> <!-- APP VERSION -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body bgcolor="#e6f2ff">


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="OpeningPage" class="w3-bar-item w3-button">Home</a>
    <a href="TestMenu" class="w3-bar-item w3-button">Test</a>
    <a href="LeaderBoard" class="w3-bar-item w3-button">LeaderBoard</a>
    <button class="w3-bar-item w3-button" onclick="nav_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Main Body to Allow for Blurring -->
<div id="main">
    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <div style="display: inline;float: right"> <!-- Sign in Elements-->
            <b id="sgUp" onclick="document.getElementById('reg').style.display='block'"
               onmouseover="document.getElementById('sgUp').style.color='limegreen'"
               onmouseout="document.getElementById('sgUp').style.color='white'"
               style="width: 120px;font-weight:900;">Sign Up</b>
            <div class="fa fa-user fa-lrg"
                 style="padding-left: 10%;font-size: 20px;display: none" id="wStrap">
                <h4 id="wMsg" style="font-size: 10px;font-weight: bolder"></h4>
            </div>
            <b id="lgIn" onclick="document.getElementById('log').style.display='block'"
               onmouseover="document.getElementById('lgIn').style.color='limegreen'"
               onmouseout="document.getElementById('lgIn').style.color='white'"
               style="width: 80px;font-weight:900">Log In</b>
            <b id="lgOut" onclick="logout()" style="display: none"
               onmouseover="document.getElementById('lgOut').style.color='limegreen'"
               onmouseout="document.getElementById('lgOut').style.color='white'"
            >Log Out</b>
        </div>

        <div class="w3-center">
            <div class="w3-padding-1"><h1 class="w3-xxxlarge w3-animate-bottom">Learn</h1></div>
        </div>
    </header>

    <!-- Register Modal -->
    <div id="reg" class="modal1">
        <span onclick="document.getElementById('reg').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Username" style="width: 99%" id="uName" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" style="width: 99%" id="psw" required>

                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Confirm Password" style="width: 99%" id="pswrpt" required>

                <div class="clearfix">
                    <button type="button" onclick="register()" class="signupbtn">SignUp</button>
                    <button type="button" onclick="document.getElementById('reg').style.display='none'" class="cancelbtn">Cancel</button>
                    <p id="rError" style="display: none">There is already an account registered with that UserName</p>
                </div>
            </div>
        </form>
    </div>
    <!-- LOGIN MODAL -->
    <div id="log" class="modal2">
        <span onclick="document.getElementById('log').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="min-height: 17em">
                <label><b id="test1">UserName</b></label>
                <input type="text" placeholder="Enter Username" id="uname1" style="width: 98%" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw1" style="width: 99%" required>
                <button type="button" onclick="login()" class="signupbtn" style="width:49.7%;color: white">Login</button>
                <button type="button" onclick="document.getElementById('log').style.display='none'"
                        style="width:49%" class="cancelbtn">Cancel
                </button>
                <p id="pError" style="display: none">Unfortunately there was a problem with the Username/Password,
                    please try again...</p>
            </div>

            <span class="psw"></span>
        </form>
    </div>
    <div class="w3-container w3-grey">
        <p>Welcome to your crash course for q/KDB+. Select the tabs on the left hand side to get Started.</p>
    </div>


    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:160px;z-index:1">

        <a href="#" class="w3-bar-item w3-button" onclick=populateTextarea(BasicText)>The Basics</a>

        <div class="w3-bar-item w3-button" onclick=myAccFunc("Acc1")>
            Datatypes <i class="fa fa-caret-down"></i></div>
        <div id="Acc1" class="w3-hide w3-white w3-card-4">
            <a href="#" class="w3-bar-item w3-button" onclick=populateTextarea(AtomText)>Atoms</a>
            <a href="#" class="w3-bar-item w3-button" onclick=populateTextarea(ListsText)>Lists</a>
            <a href="#" class="w3-bar-item w3-button" onclick=populateTextarea(DictText)>Dictionaries</a>
            <a href="#" class="w3-bar-item w3-button" onclick=populateTextarea(AtomText)>Tables</a>
        </div>

        <div class="w3-bar-item w3-button" onclick=myAccFunc("Acc2")>
            Functions <i class="fa fa-caret-down"></i></div>
        <div id="Acc2" class="w3-hide w3-white w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Primitive Operators</a>
            <a href="#" class="w3-bar-item w3-button">Projections</a>
            <a href="#" class="w3-bar-item w3-button">Casting</a>
            <a href="#" class="w3-bar-item w3-button">Lamdas and Debugging</a>
        </div>

        <div class="w3-bar-item w3-button" onclick=myAccFunc("Acc3")>
            Adverbs <i class="fa fa-caret-down"></i></div>
        <div id="Acc3" class="w3-hide w3-white w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Each</a>
            <a href="#" class="w3-bar-item w3-button">Each Both/Left/Right</a>
            <a href="#" class="w3-bar-item w3-button">Each Prior</a>
            <a href="#" class="w3-bar-item w3-button">Peach</a>
        </div>

        <div class="w3-bar-item w3-button" onclick=myAccFunc("Acc4")>
            qSql <i class="fa fa-caret-down"></i></div>
        <div id="Acc4" class="w3-hide w3-white w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Link</a>
            <a href="#" class="w3-bar-item w3-button">Link</a>
        </div>

    </div>
    <div class="scroll">
        <div class="w3-container" id="BasicText" style="margin-left:160px;display: block;">
            <h3>The Basics</h3>
            <h4>The History of Q</h4>
            <p>Arthur Whitney developed the q programming language and its database kdb+. Released by Kx Systems, Inc.
                in 2003, the primary design objectives of q are expressiveness, speed and efficiency. In these, it is
                beyond compare. The design trade-off is a terseness that can be disconcerting to programmers coming from
                verbose traditional database programming environments – e.g., C++, Java, C# or Python – and a relational
                DBMS. Whereas the q programming gods revel in programs resembling an ASCII core dump, this manual is for
                the rest of us.</p>
            <p>Q evolved from APL (A Programming Language), which was first invented as a mathematical notation by
                Kenneth Iverson at Harvard University in the 1950s. APL was introduced in the 1960s by IBM as a vector
                programming language, meaning that it processes a list of numbers in a single operation. It was
                successful in finance and other industries that required heavy number crunching.</p>
            <p>The mitochondrial DNA of q traces from APL to A to A+ and to k. All were well suited to performing
                complex calculations quickly on vectors. What's new in q/kdb+ is that it processes large volumes of
                time-series data very efficiently in the relational paradigm. Its syntax allows "select" expressions
                that are similar to SQL 92, and its collection of built-in functions provides a complete and powerful
                stored procedure language.</p>
            <code style="margin-left:30%">q) "Hello World!"</code>
        </div>
        <div class="w3-container" id="AtomText" style="margin-left:160px;display:none;overflow: scroll">
            <h3>Atoms</h3>
            <p>All data is ultimately built from atoms. An atom is an irreducible value of a specific data type. The
                basic data types in q correspond mostly to those of traditional programming languages with additional
                date- and time-related types that facilitate time series. The tables below summarize the basic data
                types, giving the corresponding types in SQL, Java and C#. Other data types, including enumerations and
                functions, will be covered when they are discussed in later sections.</p>
            <h4>long<i> Type: 7/j</i></h4>
            <p>In q versions 3.0 and later, the basic integer type is a signed eight-byte integer, called long. A
                literal is identified as a long by the fact that it contains only numeric digits, with an optional
                leading minus sign, and no decimal point. It may also have an optional trailing type indicator j
                indicating it is a long and not another integer type. Here is a typical long integer value.</p>
            <h4>int<i> Type: 6/i</i></h4>
            <p>The two smaller signed integer data types are short and int. The short type represents a two-byte signed
                integer and requires the trailing type indicator .</p>
            <h4>float<i> Type: 9/f</i></h4>
            <p>The float type represents an IEEE standard eight-byte floating-point number, often called "double" in
                traditional languages. A float can hold (at least) 15 decimal digits of precision. It is denoted by
                optionally signed numeric digits with either a decimal point or an optional trailing type indicator f.
                Observe that the console shortens the display of floats with no significant digits to the right of the
                decimal</p>
            <h4>real<i> Type: 8/3</i></h4>
            <p>The real type represents a single-precision, four-byte floating-point number and is denoted by numeric
                digits containing a decimal point and a trailing type indicator e. Be mindful that this type is called
                'float' in some languages. A real can hold at least 6 decimal digits of precision.</p>
            <h4>boolean<i> Type: 1/b</i></h4>
            <p>The boolean type uses one byte to store a bit and is denoted by the bit value with the trailing type
                indicator b. There are no keywords for 'true' or 'false', nor are there separate logical operators for
                booleans.</p>
            <h4>char<i> Type: 10/c</i></h4>
            <p>A char holds an individual ASCII or 8-bit Unicode character that is stored in one byte. It corresponds to
                a SQL CHAR. It is denoted by a single character enclosed in double quotes.</p>
            <h4>symbol<i> Type: 11/s</i></h4>
            <p>A symbol is akin to a SQL VARCHAR, in that it can hold an arbitrary number of characters, but is
                different in that it is atomic. The char "q" and the symbol `kdb are both atomic entities. A symbol is
                irreducible, meaning that the individual characters that comprise it are not directly accessible.</p>
        </div>
        <div class="w3-container" id="ListsText" style="margin-left:160px;display:none;">
            <h3>Lists</h3>
            <p>All data structures in q are ultimately built from lists: a dictionary is a pair of lists; a table is a
                special dictionary; a keyed table is a pair of tables. Thus it is important to have a thorough grounding
                in lists.</p>

            <p>All lists are equal but some lists are more equal than others. These are the lists of atoms of homogenous
                type, called simple lists – known in mathematics as vectors. They have optimum storage and performance
                characteristics.</p>

            <p>While q’s list operations are similar to those in other functional languages, lists are stored and
                processed quite differently.</p>

            <p>They are not stored as singly-linked lists under the covers. Simple lists occupy contiguous storage and
                general lists are pointers in contiguous storage.</p>

            <p>Appending items to the end rather than “cons”-ing to the front.
                Efficient direct item access is available via indexing.
                A general list can hold items of different type without resorting to a union (sum) type.It may be
                instructive to think of q lists as dynamically allocated arrays.</p>

            <code style="margin-left:30%">q)(1; 1.1; `1)</code><br>
            <code style="margin-left:30%">q)(1;2;3)</code><br>
            <code style="margin-left:30%">q)("a";"b";"c";"d")</code><br>
            <code style="margin-left:30%">q)(`Life;`the;`Universe;`and;`Everything)</code><br>
            <code style="margin-left:30%">q)(-10.0; 3.1415e; 1b; `abc; "z")</code><br>
            <code style="margin-left:30%">q)((1; 2; 3); (4; 5))</code><br>
            <code style="margin-left:30%">q)((1; 2; 3); (`1; "2"; 3); 4.4)</code><br>

            <p>If you diligently entered each of these examples in your console, you have noticed that q does not always echo what you type. The initial and last three lists are general lists, meaning they are not homogenous atoms. This could mean atoms of mixed type, nested lists of uniform type, or atoms and nested lists of mixed type.</p>
            <p>Items in a list are sequenced from left to right, providing an inherent order. The lists 1;2 and 2;1 are different. SQL is based on sets, which are inherently unordered. This distinction leads to some subtle differences between the semantics of queries on q tables versus the analogous SQL queries. The inherent ordering of lists makes large time series processing natural and fast in q, while it is cumbersome and slow in standard SQL due to the need to place things in order.</p>

        </div>

        <div class="w3-container" id="DictText" style="margin-left:160px;display:none;">
            <h3>Dictionaries</h3>
            <p>A dictionary, sometimes called an association, is a mapping defined by positional correspondence between a domain list of keys and a co-domain list of values. Dictionary creation uses the ! operator – read "bang" – in contrast with the syntactic form for lists. keys!values. All dictionaries have type 99h.Observe that the q console displays a dictionary as an I/O table.</p>

            <p>Neither the keys nor values need be simple lists but the keys should conform else odd things will happen during operations.</p>

            <p>A dictionary can be decomposed into its key and value lists using the primitives key and value. The common number of keys or values is returned by count.</p>

            <p>Although q does not enforce uniqueness for keys (a historical accident) a dictionary does provide a unique output value for each input value. Indeed, only the first key occurrence is seen during lookup.</p>

            <p>The order of the items in the key and value lists is significant, just as positional order is significant for lists. Although the I/O assignments and the associated mappings are equivalent regardless of order, differently ordered dictionaries are not identical.</p>

            <code style="margin-left:30%">q)10 20 30!1.1 2.2 3.3</code><br>
            <code style="margin-left:30%">10| 1.1</code><br>
            <code style="margin-left:30%">20| 2.2</code><br>
            <code style="margin-left:30%">30| 3.3</code><br>
            <code style="margin-left:30%">q)(`Arthur`Dent; `Zaphod`Beeblebrox; `Ford`Prefect)! 100 42 150</code><br>
            <code style="margin-left:30%">Arthur Dent      | 100</code><br>
            <code style="margin-left:30%">Zaphod Beeblebrox| 42</code><br>
            <code style="margin-left:30%">Ford Prefect     | 150</code><br>

        </div>

    </div>


    <script>
        function myAccFunc(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
        function populateTextarea(txt) {
            var basicText = document.getElementById("BasicText");
            var atomText = document.getElementById("AtomText");
            var ListsText = document.getElementById("ListsText");
            var DictText = document.getElementById("DictText");
            // Hide All divs
            basicText.style.display = "none";
            atomText.style.display = "none";
            ListsText.style.display = "none";
            DictText.style.display = "none";
            // Show Selected Text
            (txt).style.display = "block";
        }
    </script>

    <style>
        .blurmain {
            filter: blur(5px);
        }

        .overflowTest {
            background: cornflowerblue;
            color: white;
            padding: 15px;
            width: 90%;
            height: 100px;
            overflow: scroll;
            border: 1px solid #ccc;
        }

        div.scroll {
            position: fixed;
            background-color: #e6f2ff;
            width: 100%;
            height: 79%;
            overflow: scroll;
        }

    </style>
</div>
</body>
<script>
    window.onload = function () {
        connect();
        chkLogin()
    };
</script>
</html>