<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<title>Test Menu</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="OpeningPage" class="w3-bar-item w3-button">Home</a>
    <a href="CourseReference" class="w3-bar-item w3-button">Learn</a>
    <a href="#" class="w3-bar-item w3-button">LeaderBoard</a>
    <a href="#" class="w3-bar-item w3-button">LogOut</a>
    <button class="w3-bar-item w3-button" onclick="nav_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Main Body to Allow for Blurring -->
<div id="main">
    <!-- Modal -->


    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Leader Board</h1>
            <div class="w3-padding-1">
                <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"
                        onclick="document.getElementById().style.display='block'" style="font-weight:900;">Help
                </button>
            </div>
        </div>
    </header>

    <div class="w3-container w3-grey" style="height:77em">
        <!--- Top Left Quarter TABLE --->
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #00B7FF">
            <div id="table_div"></div>
        </div>
        <!--- Top Right Quarter BARCHART--->
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #4a8be8">
            <div id="chart_div" style="height: 100%;border-color: #4a8be8"></div>
        </div>
        <!--- Bottom Left Quarter Prog Bars --->
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #4a8be8;padding: 2%">
            <h2>Your Progress Bars</h2>
            <p>See Below your Progress in each segment</p>
            <div class="progress">
                <div id="prgBr1" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width:70%">Datatypes</div>
            </div>
            <div class="progress">
                <div id="prgBr2" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">Functions</div>
            </div>
            <div class="progress">
                <div id="prgBr3" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">Adverbs</div>
            </div>
            <div class="progress">
                <div id="prgBr4" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">qSQL</div>
            </div>
        </div>
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #00B7FF"></div>

    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {packages:['table']});
        google.charts.load('current', {packages: ['corechart', 'bar']});
        var ws;

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('string', 'Score');
            ws.send ("toGoogleTable (`t xdesc select count distinct t by u from UserScore)");
            ws.onmessage=function(e){a=e.data;sessionStorage.lTable=eval(a)};
            var kdbRows = eval(eval(sessionStorage.lTable));
            data.addRows(kdbRows);

            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }

        function drawBar() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'User');
            data.addColumn('number', 'Score');
            ws.send ("toGoogleBarChart (`t xdesc select count distinct t by u from UserScore)");
            ws.onmessage=function(e){a=e.data;sessionStorage.BChart=eval(a)};
            var kdbBars = eval(eval(sessionStorage.BChart));
            data.addRows(kdbBars);

            var options = {
                title: 'myQlearner Rankings',
                chartArea: {width: '50%'},
                hAxis: {
                    title: 'Total Scores',
                    minValue: 0
                },
                vAxis: {
                    title: 'Users'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function setPrgBars(name) {
            var prbr1 =  document.getElementById ("prgBr1");
            var prbr2 =  document.getElementById ("prgBr2");
            var prbr3 =  document.getElementById ("prgBr3");
            var prbr4 =  document.getElementById ("prgBr4");
            ws.onmessage=function(e){a=e.data;sessionStorage.pb=eval(a)};
            ws.send("getPrg"+name);
            var progress = sessionStorage.pb.split(",");
            prbr1.style.width = (progress[0]+"%");
            prbr2.style.width = (progress[1]+"%");
            prbr3.style.width = (progress[2]+"%");
            prbr4.style.width = (progress[3]+"%");
        }

        var ws;
        function myAccFunc(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
        function populateTextarea(txt) {
            var basicText = document.getElementById("BasicText");
            var atomText = document.getElementById("AtomText");
            var ListsText = document.getElementById("ListsText");
            var DictText = document.getElementById("DictText");
            // Hide All divs
            basicText.style.display = "none";
            atomText.style.display = "none";
            ListsText.style.display = "none";
            DictText.style.display = "none";
            // Show Selected Text
            (txt).style.display = "block";
        }

        function nav_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "359px";
            x.style.fontSize = "40px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
            x.style.color = "white";
            x.style.backgroundColor = "#0099ff";
            document.getElementById("main").style.marginLeft = "359px";
            document.getElementById("main").classList.toggle("blurmain");
        }
        function nav_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("main").classList.toggle("blurmain");
        }
        //var modal = document.getElementById();

        // When the user clicks anywhere outside of the modal, close it
        //window.onclick = function(event) {
        //    if (event.target = modal1,modal2) {
        //        modal1.style.display = "none";
        //        modal2.style.display = "none";
        //
        //          }
        //    }
        //}

        function register(){
            var x=document.getElementById("uName");
            var y=document.getElementById("psw");
            var z=document.getElementById("pswrpt");
            var rError=document.getElementById("rError");
            var uVal=(x.value);
            var pVal=(y.value);
            var pMVal=(z.value);
            if (pVal==pMVal) {
                initSession(); // Call to init the session
                ws.send("register[`"+uVal+";`"+sessionStorage.sessID+";`"+pVal+"]"); //TODO Use Session Version
                ws.onmessage=function(e){a=e.data;};
                if ((a.trim(1))=="`UserBase"){
                    modLog(uVal);
                    // call Login Func
                } else {
                    rError.style.display = "block";
                    rError.style.color="red";
                }
            }

        }

        function initSession() {
            // Save data to sessionStorage
            sessionStorage.setItem('key', Math.random().toString(36).substring(7));
            sessionStorage.sessID = sessionStorage.getItem('key')
        }
        // Default Login Behaviour
        function modLog(nameVal) {
            sessionStorage.sessName=nameVal;
            var wStrap=document.getElementById("wStrap");
            var wMsg=document.getElementById("wMsg");
            var pError=document.getElementById("pError");
            var lgOut=document.getElementById("lgOut");
            var lgIn=document.getElementById("lgIn");
            var sgUp=document.getElementById("sgUp");
            document.getElementById("log").style.display="none";
            document.getElementById("reg").style.display="none";
            lgOut.style.display="inline";
            lgOut.style.width='90px';
            lgOut.style.display.fontWeight="900";
            lgIn.style.display="none";
            wStrap.style="display: inline";
            wMsg.style="display: inline";
            wMsg.style.color="white";
            wStrap.style.color="limegreen";
            wStrap.style.fontSize="25px";
            wMsg.textContent="  Welcome "+nameVal;
            sgUp.style.display="none";
            pError.style.display="none";
        }



        // Session Determination
        function chkLogin() {
            if (sessionStorage.sessName != "undefined" && sessionStorage.sessName != undefined) {
                modLog(sessionStorage.sessName)
            } else {

                //ws.send("chkLogin[`"+sessionStorage.sessID+"]");
                //ws.onmessage=function(e){a=e.data;sessionStorage.sessName=(a.substring(1).trim(1));return sessionStorage.sessName};
                //if (sessionStorage.sessName!="") {
                //    modLog(sessionStorage.sessName)
                //}
                return false
            }
        }

        // Forced Login Behaviour
        function login() {
            var pError=document.getElementById("pError");
            var x=document.getElementById("uname1");
            var y=document.getElementById("psw1");
            var uVal=(x.value);
            var pVal=(y.value);
            ws.send ("login[`"+uVal+";`"+sessionStorage.sessID+";`"+pVal+"]");
            ws.onmessage=function(e){a=e.data;sessionStorage.a = (a.substr(-10).trim(0))};
            if (sessionStorage.a=="`UserBase") {
                modLog(uVal);
                sessionStorage.setItem('logName', uVal);
            } else if (sessionStorage.a=="wordError") {
                pError.style.display = "block";
                pError.style.color="red";
            } else {
                return false;
            }
            sessionStorage.sessName = sessionStorage.getItem('logName');
            sessionStorage.clear(a)
        }

        function logout() {
            var wStrap=document.getElementById("wStrap");
            var lgOut=document.getElementById("lgOut");
            var lgIn=document.getElementById("lgIn");
            var sgUp=document.getElementById("sgUp");
            lgOut.style.display="none";
            lgOut.style.width='90px';
            lgOut.style.display.fontWeight="900";
            lgIn.style.display="inline";
            wStrap.style="display: none";
            sgUp.style.display="inline";
            sessionStorage.clear(sessName);
        }

        function connect(){
            if (sessionStorage.sessID != "undefined" && sessionStorage.sessID != undefined) {
                return true;
            } else {
                var l = window.location;
                ws = new WebSocket("ws://localhost:5050/");
                initSession(); // Call to init the session
            }
        }


        window.onload=function(){
            connect();
            chkLogin()
        };




    </script>
    <style>
        .blurmain {
            filter: blur(5px);
        }
        .grid-container {
            display: grid;
            height: auto;
            align-content: center;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
            background-color: #cac1ce;
            padding: 10px;
        }
        .grid-container > button {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 20px 0;
            font-size: 25px;
        }
    </style>



</div>