<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../public/stylesheets/style.css">
<script src="../public/javascripts/myQlearner.js"></script> LOCAL VERSION -->

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
<script src="/javascripts/myQlearner.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="OpeningPage" class="w3-bar-item w3-button">Home</a>
    <a href="CourseReference" class="w3-bar-item w3-button">Learn</a>
    <a href="#" class="w3-bar-item w3-button">LeaderBoard</a>
    <button class="w3-bar-item w3-button" onclick="nav_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Main Body to Allow for Blurring -->
<div id="main">
    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <div style="display: inline;float: right"> <!-- Sign in Elements-->
            <b id="sgUp" onclick="document.getElementById('reg').style.display='block'"
               onmouseover="document.getElementById('sgUp').style.color='limegreen'"
               onmouseout="document.getElementById('sgUp').style.color='white'"
               style="width: 120px;font-weight:900;">Sign Up</b>
            <div class="fa fa-user fa-lrg"
                 style="padding-left: 10%;font-size: 20px;display: none" id="wStrap">
                <h4 id="wMsg" style="font-size: 10px;font-weight: bolder"></h4>
            </div>
            <b id="lgIn" onclick="document.getElementById('log').style.display='block'"
               onmouseover="document.getElementById('lgIn').style.color='limegreen'"
               onmouseout="document.getElementById('lgIn').style.color='white'"
               style="width: 80px;font-weight:900">Log In</b>
            <b id="lgOut" onclick="logout()" style="display: none"
               onmouseover="document.getElementById('lgOut').style.color='limegreen'"
               onmouseout="document.getElementById('lgOut').style.color='white'"
            >Log Out</b>
        </div>

        <div class="w3-center">
            <div class="w3-padding-1"><h1 class="w3-xxxlarge w3-animate-bottom">LeaderBoard</h1></div>
        </div>
    </header>


    <!-- Register Modal -->
    <div id="reg" class="modal1">
        <span onclick="document.getElementById('reg').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Username" style="width: 99%" id="uName" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" style="width: 99%" id="psw" required>

                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Confirm Password" style="width: 99%" id="pswrpt" required>

                <div class="clearfix">
                    <button type="button" onclick="register()" class="signupbtn">SignUp</button>
                    <button type="button" onclick="document.getElementById('reg').style.display='none'" class="cancelbtn">Cancel</button>
                    <p id="rError" style="display: none">There is already an account registered with that UserName</p>
                </div>
            </div>
        </form>
    </div>
    <!-- LOGIN MODAL -->
    <div id="log" class="modal2">
        <span onclick="document.getElementById('log').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="min-height: 17em">
                <label><b id="test1">UserName</b></label>
                <input type="text" placeholder="Enter Username" id="uname1" style="width: 98%" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw1" style="width: 99%" required>
                <button type="button" onclick="login()" class="signupbtn" style="width:49.7%;color: white">Login</button>
                <button type="button" onclick="document.getElementById('log').style.display='none'"
                        style="width:49%" class="cancelbtn">Cancel
                </button>
                <p id="pError" style="display: none">Unfortunately there was a problem with the Username/Password,
                    please try again...</p>
            </div>

            <span class="psw"></span>
        </form>
    </div>

    <div class="w3-container w3-grey" style="padding: 1%;">
        <b style="color: white">Welcome to your leaderboard, use this area to track your performance so far.</b>
    </div>

    <div class="w3-container w3-grey" style="height:150%">
        <!--- Top Left Quarter TABLE --->
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #00B7FF">
            <div id="table_div" style="height: 19pc"></div>
        </div>
        <!--- Top Right Quarter BARCHART--->
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #4a8be8">
            <div id="chart_div" style="height: 19pc;border-color: #4a8be8"></div>
        </div>
        <!--- Bottom Left Quarter Prog Bars --->
        <div class="w3-quarter" style="height:19pc;width:50%;background-color: #4a8be8;padding: 2%">
            <h2>Your Progress Bars</h2>
            <p>See Below your Progress in each segment</p>
            <div class="progress">
                <div id="prgBr1" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width:0%">Datatypes</div>
            </div>
            <div class="progress">
                <div id="prgBr2" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">Functions</div>
            </div>
            <div class="progress">
                <div id="prgBr3" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%">Adverbs</div>
            </div>
            <div class="progress">
                <div id="prgBr4" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">qSQL</div>
            </div>
        </div>
        <!--- Bottom Right Quarter Weekly Success --->
        <div class="w3-quarter" style="height:19pc;width:50%;background-color: #4a8be8;padding: 2%">
            <h2 style="color: yellow;alignment: center">Weekly Star Goal</h2>
            <p>In order to make Progress, cosistent weekly effort must be made, Complete 3 Tasks in a week to gain a point bonus to your score</p>
            <div id="star1" class="fa fa-star" style="font-size: 80px;color: yellow;text-shadow: 0 0 80px purple;padding-left: 15%;display:none"></div>
            <div id="star2" class="fa fa-star" style="font-size: 80px;color: yellow;text-shadow: 0 0 80px purple;padding-left: 15%;display:none"></div>
            <div id="star3" class="fa fa-star" style="font-size: 80px;color: yellow;text-shadow: 0 0 80px purple;padding-left: 15%;display:none"></div>

        </div>
        <div class="w3-quarter" style="height:25%;width:50%;background-color: #00B7FF"></div>

    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">


        google.charts.load('current', {packages:['table']});
        google.charts.load('current', {packages: ['corechart', 'bar']});

        function show(x){var item = document.getElementById(x);
            item.style.display = "inline"}

        function showStar(tests){
            var x;
            x = eval(eval(tests));
            for (var i = 0; i < x.length; ++i) {
                show(x[i])
            }
        }
        function showStars(){
            ws.send ("weekPass `"+sessionStorage.sessName);
            ws.onmessage = function (e) {
                a = e.data;
                showStar(a)
            }
            console.info("Weekly Stars applied Set")
        }

        function drawTable() {
            ws.send ("toGoogleTable (`t xdesc select count distinct t by u from UserScore)");
            ws.onmessage=function(e) {
                a = e.data;
                sessionStorage.lTable = eval(a)
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Name');
                data.addColumn('string', 'Score');
                var kdbRows = eval(eval(sessionStorage.lTable));
                data.addRows(kdbRows);
                var table = new google.visualization.Table(document.getElementById('table_div'));
                table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
            }
        }

        function drawBar() {
            ws.send ("toGoogleBarChart (`t xdesc select count distinct t by u from UserScore)");
            ws.onmessage=function(e) {
                a = e.data;
                var b;
                b = eval(a);
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'User');
                data.addColumn('number', 'Score');
                var kdbBars = eval(eval(b));
                data.addRows(kdbBars);

                var options = {
                    title: 'myQlearner Rankings',
                    chartArea: {width: '50%'},
                    hAxis: {
                        title: 'Total Scores',
                        minValue: 0
                    },
                    vAxis: {
                        title: 'Users'
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }

        }

        function setPrgBars(name) {
            if (sessionStorage.sessName == undefined){
                return;
            }
            ws.send("getPrg"+name);
            ws.onmessage=function(e){
                g=e.data;
                var b = (eval(g));
                var prbr1 =  document.getElementById ("prgBr1");
                var prbr2 =  document.getElementById ("prgBr2");
                var prbr3 =  document.getElementById ("prgBr3");
                var prbr4 =  document.getElementById ("prgBr4");
                progress = b.split(",");
                prbr1.style.width = (progress[0]+"%");
                prbr2.style.width = (progress[1]+"%");
                prbr3.style.width = (progress[2]+"%");
                prbr4.style.width = (progress[3]+"%");
            };
            console.info("Progress Bars Set")
        }

        function loginExtra(){
            setTimeout(function(){setPrgBars("`"+sessionStorage.sessName)}, 310);
            setTimeout(function(){showStars()}, 320);
        }
        function logOutExtra(){

        }


        window.onload = function () {
            connect();
            setTimeout(function () {
                drawTable();
            },330);
            setTimeout(function () {
                drawBar();
            },340);
            chkLogin();
        };




    </script>
    <style>
        .blurmain {
            filter: blur(5px);
        }
    </style>



</div>
</body>
</html>