<!DOCTYPE html>
<html style="height: 100%">
<!--W3 Local Scripts-->
<!--
<script src="../public/javascripts/bootstrap.min.js"></script>
<script src="../public/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="../public/stylesheets/w3.css">
<link rel="stylesheet" href="../public/stylesheets/w3-theme-blue.css">
<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
-->

<!--<link rel="stylesheet" href="../public/stylesheets/style.css">
<script src="../public/javascripts/myQlearner.js"></script> LOCAL VERSION -->

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
<script src="/javascripts/myQlearner.js"></script>

<title>my q Learner</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="CourseReference" class="w3-bar-item w3-button">Learn</a>
    <a href="TestMenu" class="w3-bar-item w3-button">Test</a>
    <a href="LeaderBoard" class="w3-bar-item w3-button">LeaderBoard</a>
    <button class="w3-bar-item w3-button" onclick="nav_close()">Close<i class="fa fa-remove"></i></button>
</nav>


<!-- Main Body to Allow for Blurring -->
<div id="main" style="position: relative">
    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader" style="height: 25%">
        <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <div style="display: inline;float: right"> <!-- Sign in Elements-->
            <b id="sgUp" onclick="document.getElementById('reg').style.display='block'"
               onmouseover="document.getElementById('sgUp').style.color='limegreen'"
               onmouseout="document.getElementById('sgUp').style.color='white'"
               style="width: 120px;font-weight:900;">Sign Up</b>
            <div class="fa fa-user fa-lrg"
                 style="padding-left: 10%;font-size: 20px;display: none" id="wStrap">
                <h4 id="wMsg" style="font-size: 10px;font-weight: bolder"></h4>
            </div>
            <b id="lgIn" onclick="document.getElementById('log').style.display='block'"
               onmouseover="document.getElementById('lgIn').style.color='limegreen'"
               onmouseout="document.getElementById('lgIn').style.color='white'"
               style="width: 80px;font-weight:900">Log In</b>
            <b id="lgOut" onclick="logout()" style="display: none"
               onmouseover="document.getElementById('lgOut').style.color='limegreen'"
               onmouseout="document.getElementById('lgOut').style.color='white'"
            >Log Out</b>
        </div>

        <div class="w3-center">
            <h4>Welcome to </h4>
            <div class="w3-padding-1"><h1 class="w3-xxxlarge w3-animate-bottom">my q Learner</h1></div>
        </div>
    </header>

    <!-- Register Modal -->
    <div id="reg" class="modal1">
        <span onclick="document.getElementById('reg').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Username" style="width: 99%" id="uName" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" style="width: 99%" id="psw" required>

                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Confirm Password" style="width: 99%" id="pswrpt" required>

                <div class="clearfix">
                    <button type="button" onclick="register()" class="signupbtn">SignUp</button>
                    <button type="button" onclick="document.getElementById('reg').style.display='none'" class="cancelbtn">Cancel</button>
                    <p id="rError" style="display: none">There is already an account registered with that UserName</p>
                </div>
            </div>
        </form>
    </div>
    <!-- LOGIN MODAL -->
    <div id="log" class="modal2">
        <span onclick="document.getElementById('log').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="min-height: 17em">
                <label><b id="test1">UserName</b></label>
                <input type="text" placeholder="Enter Username" id="uname1" style="width: 98%" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw1" style="width: 99%" required>
                <button type="button" onclick="login()" class="signupbtn" style="width:49.7%;color: white">Login</button>
                <button type="button" onclick="document.getElementById('log').style.display='none'"
                        style="width:49%" class="cancelbtn">Cancel
                </button>
                <p id="pError" style="display: none">Unfortunately there was a problem with the Username/Password,
                    please try again...</p>
            </div>

                <span class="psw"></span>
        </form>
    </div>
    <div style="height: 100%">
        <div class="w3-row-padding w3-center w3-margin-top w3-margin-bottom" style="height: 100%">
            <div class="w3-third">
                <div class="w3-card w3-container w3-hover-shadow" style="min-height: 460px" onclick=location.href='CourseReference'>
                    <h3>Study</h3><br>
                    <i class="fa fa-pencil w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                    <p>Learn the fundamentals</p>
                    <p>of q/kdb+ to achieve the</p>
                    <p>status of q-God</p>

                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container w3-hover-shadow" style="min-height: 460px" onclick=location.href='TestMenu'>
                    <h3>Test</h3><br>
                    <i class="fa fa-graduation-cap w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                    <p>Think you are ready to</p>
                    <p>test your q knowledge?</p>
                    <p>Click here to try our</p>
                    <p>interactive q tasks</p>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container w3-hover-shadow" style="min-height:460px" onclick=location.href="LeaderBoard">
                    <h3>Leaderboard</h3><br>
                    <i class="fa fa-star w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                    <p>Track your performance</p>
                    <p>thus far and compare</p>
                    <p>yourself to those</p>
                    <p>around you learning q</p>
                </div>
            </div>
        </div>
        <footer id="foot" class="w3-container w3-theme"></footer>
    </div>
</div>
<!--<footer id="foot" class="w3-container w3-theme w3-padding" style="height: 100%;min-height: 7.7pc"></footer>-->
</body>
<script>
    window.onload = function () {
        connect();
        chkLogin()
    };
</script>
</html>
