<!DOCTYPE html>
<html>
<title>Course Reference</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="OpeningPage" class="w3-bar-item w3-button">Home</a>
    <a href="CourseReference" class="w3-bar-item w3-button">Learn</a>
    <a href="#" class="w3-bar-item w3-button">LeaderBoard</a>
    <a href="#" class="w3-bar-item w3-button">LogOut</a>
    <button class="w3-bar-item w3-button" onclick="connect()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Main Body to Allow for Blurring -->
<div id="main">
    <!-- Modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">×</span>
                <h4>Click on any of the icons below to access the content</h4>
                <h5>Or Click on the Side Navigation to visit a feature of the web site<i class="fa fa-smile-o"></i></h5>
            </header>
            <div class="w3-padding">
                <p>Cool huh? Ok, enough teasing around..</p>
                <p>Go to the <a class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" href="http://code.kx.com/q/">KX
                    Wiki</a> to learn more!</p>
            </div>
            <footer class="w3-container w3-theme-l1">
                <p>Enjoy!</p>
            </footer>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">Testing</h1>
            <div class="w3-padding-1">
                <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"
                        onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Help
                </button>
            </div>
        </div>
    </header>

    <div class="w3-container w3-grey">
        <p>Welcome to the Testing Environment for q/KDB+. Click
            <button class="w3-btn w3-dark-grey w3-hover-light-grey" onclick=connect()>Connect</button>
            to access the q Server
            <object class="led" id="Light" align="right"></object>
            </p>

    </div>

<div class="w3-row-padding">

    <div class="w3-half">
        <div class="w3-card black">
            <div class="w3-container w3-grey">
                <h3>Input Environment</h3>
            </div>
            <div class="w3-container" style="height:3.8em;">
                <input class="w3-input" type="text" id="x" placeholder="q)">
            </div>
            <ul class="w3-ul w3-border-top">
                <li>

                </li>

            </ul>
            <div class="w3-container w3-grey w3-large"><button class="w3-btn w3-hover-green" style="margin-left: 90%" onclick="return send()"><div class="fa fa-play fa-lg"></div></button></div>
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-card white">
            <div class="w3-container w3-theme">
                <h3>Output</h3>
            </div>
            <div class="w3-container">
            </div>
            <ul class="w3-ul w3-border-top" style="background-color: dimgrey;">
                <li>
                    <textarea id="out" rows=10 cols=71.5 style="background-color: #888888" ></textarea>
                </li>

            </ul>
            <div class="w3-container w3-theme w3-large"><span class="w3-right"></span></div>
        </div>
    </div>
</div>

    <script>
        var ws,out=document.getElementById("out");
        function connect()
        {if ("WebSocket" in window)
        {var l = window.location;ws = new WebSocket("ws://localhost:5050/");
            out.value="connecting..." ;
            ws.onopen=function(e){out.value="You are now connected to the q server session";conn = true;connLight(conn)}
            ws.onclose=function(e){out.value="Unfortunately connection cannot be made to the q server session please click the connect button to reconnect to the server";conn = false;;connLight(conn)}
            connLight(conn);
            ws.onmessage=function(e){out.value=e.data;}
            ws.onerror=function(e){out.value=e.data;}
        }else alert("WebSockets not supported on your browser.");
        }

        function send()
        {x=document.getElementById("x");
            v=x.value;
            ws.send(v);
            out.value="sent "+v;


            return false;
        }

        function nav_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "25%";
            x.style.fontSize = "40px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
            x.style.color = "white";
            x.style.backgroundColor = "#0099ff";
            document.getElementById("main").classList.toggle("blurmain");
        }
        function nav_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("main").classList.toggle("blurmain");
        }
            function connLight(conn) {
                var x = document.getElementById("Light");
                if (conn === true) {
                    x.style.display = "inline";
                    x.style.backgroundColor = "#89C400";
                    x.style.boxShadow = "#000000 0 -1px 7px 1px, inset #699a00 0 -1px 9px, #80e900 0 2px 12px";
                } else {
                    x.style.display = "inline";
                    x.style.backgroundColor = "#C7312E";
                    x.style.boxShadow = "#000000 0 -1px 7px 1px, inset #861811 0 -1px 9px, #cb3338 0 2px 12px"
                }
            }
        window.onload = connect();

    </script>
    <style>
        .blurmain {
            filter: blur(5px);
        }
        .led {
            width: 16px;
            alignment: right;
            margin-top: 1em;
            height: 16px;
            border-radius: 50%;
            background-color: #888888;
            box-shadow: #000000 0 -1px 7px 1px, inset #bcb6b6 0 -1px 9px, #cbc2ca 0 2px 12px;
        }

    </style>



</div>