<!DOCTYPE html>
<html>
<!--W3 Local Scripts-->
<!--
<script src="../public/javascripts/bootstrap.min.js"></script>
<script src="../public/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="../public/stylesheets/w3.css">
<link rel="stylesheet" href="../public/stylesheets/w3-theme-blue.css">
<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
-->

<link rel="stylesheet" href="../public/stylesheets/style.css"> <!-- LOCAL VERSION -->
<script src="../public/javascripts/myQlearner.js"></script> <!-- LOCAL VERSION -->

<!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> <!-- APP VERSION -->
<!--<script src="/javascripts/myQlearner.js"></script> <!-- APP VERSION -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 style="font-size: 1.5em">Menu</h1>
    <a href="OpeningPage" class="w3-bar-item w3-button">Home</a>
    <a href="CourseReference" class="w3-bar-item w3-button">Learn</a>
    <a href="#" class="w3-bar-item w3-button">LeaderBoard</a>
    <button class="w3-bar-item w3-button" onclick="nav_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Main Body to Allow for Blurring -->
<div id="main">
        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <i onclick="nav_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
            <div style="display: inline;float: right"> <!-- Sign in Elements-->
                <b id="sgUp" onclick="document.getElementById('reg').style.display='block'"
                   onmouseover="document.getElementById('sgUp').style.color='limegreen'"
                   onmouseout="document.getElementById('sgUp').style.color='white'"
                   style="width: 120px;font-weight:900;">Sign Up</b>
                <div class="fa fa-user fa-lrg"
                     style="padding-left: 10%;font-size: 20px;display: none" id="wStrap">
                    <h4 id="wMsg" style="font-size: 10px;font-weight: bolder"></h4>
                </div>
                <b id="lgIn" onclick="document.getElementById('log').style.display='block'"
                   onmouseover="document.getElementById('lgIn').style.color='limegreen'"
                   onmouseout="document.getElementById('lgIn').style.color='white'"
                   style="width: 80px;font-weight:900">Log In</b>
                <b id="lgOut" onclick="logout()" style="display: none"
                   onmouseover="document.getElementById('lgOut').style.color='limegreen'"
                   onmouseout="document.getElementById('lgOut').style.color='white'"
                >Log Out</b>
            </div>
            <div class="w3-center">
                <div class="w3-padding-1"><h1 class="w3-xxxlarge w3-animate-bottom">Testing Menu</h1></div>
            </div>
    </header>

    <!-- Register Modal -->
    <div id="reg" class="modal1">
        <span onclick="document.getElementById('reg').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <label><b>Email</b></label>
                <input type="text" placeholder="Enter Username" style="width: 99%" id="uName" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" style="width: 99%" id="psw" required>

                <label><b>Repeat Password</b></label>
                <input type="password" placeholder="Confirm Password" style="width: 99%" id="pswrpt" required>

                <div class="clearfix">
                    <button type="button" onclick="register()" class="signupbtn">SignUp</button>
                    <button type="button" onclick="document.getElementById('reg').style.display='none'" class="cancelbtn">Cancel</button>
                    <p id="rError" style="display: none">There is already an account registered with that UserName</p>
                </div>
            </div>
        </form>
    </div>
    <!-- LOGIN MODAL -->
    <div id="log" class="modal2">
        <span onclick="document.getElementById('log').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/action_page.php">
            <div class="container" style="min-height: 17em">
                <label><b id="test1">UserName</b></label>
                <input type="text" placeholder="Enter Username" id="uname1" style="width: 98%" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw1" style="width: 99%" required>
                <button type="button" onclick="login()" class="signupbtn" style="width:49.7%;color: white">Login</button>
                <button type="button" onclick="document.getElementById('log').style.display='none'"
                        style="width:49%" class="cancelbtn">Cancel
                </button>
                <p id="pError" style="display: none">Unfortunately there was a problem with the Username/Password,
                    please try again...</p>
            </div>

            <span class="psw"></span>
        </form>
    </div>

    <div class="w3-container w3-grey">
        <p>Welcome to the Testing Environment for q/KDB+. Click a challenge that you would like to complete access the q Server</p>
    </div>
    <header class="w3-large w3-dark-grey">DataTypes</header>
    <div class="grid-container">
        <button id="s1t1" class="w3-btn w3-hover-blue" onclick=location.href="TestPage";sessionStorage.testItem="test1"><h3>Atoms<div class="fa fa-stop-circle-o fa-lg" style="padding-left: 10%" ></div></h3></button>
        <button id="s1t2" class="w3-btn w3-hover-blue" onclick=location.href="TestPage";sessionStorage.testItem="test2"><h3>Lists<div class="fa fa-list fa-lg" style="padding-left: 10%"></div></h3></button>
        <button id="s1t3" class="w3-btn w3-hover-blue" onclick=location.href="TestPage";sessionStorage.testItem="test3"><h3>Dictionaries<div class="fa fa-book fa-lg" style="padding-left: 10%"></div></h3></button>
        <button id="s1t4" class="w3-btn w3-hover-blue"><h3>Tables<div class="fa fa-table fa-lg" style="padding-left: 10%"></div></h3></button>
</div>
    <header class="w3-large w3-dark-grey">Functions</header>
    <div class="grid-container">
        <button class="w3-btn w3-hover-blue"><h3>Operators<div class="fa fa-wrench fa-lg" style="padding-left: 10%"></div></h3></button>
        <button class="w3-btn w3-hover-blue"><h3>Lambdas<div class="fa fa-file-code-o fa-lg" style="padding-left: 10%"></div></h3></button>
        <button class="w3-btn w3-hover-blue"><h3>Casting<div class="fa fa-shield fa-lg" style="padding-left: 10%"></div></h3></button>
        <button class="w3-btn w3-hover-blue"><h3>Projections<div class="fa fa-magic fa-lg" style="padding-left: 10%"></div></h3></button>
    </div>
    <header class="w3-large w3-dark-grey">More Coming Soon...</header>
    <div class="grid-container" style="padding:11%;">
    </div>

    <div class="w3-row-padding">

    </div>
</div>
</body>
<script>
    function adjust(x){var test = document.getElementById(x);
        test.style.backgroundColor = "lightgreen"}
    function clear(x){var ot = document.getElementById(x);
        ot.style.backgroundColor = "#f2f2f2"}

    function showPass(tests){
        var x;
        x = eval(eval(tests));
        for (var i = 0; i < x.length; ++i) adjust(x[i])
    }
    function clearPass(){
        var x = ['s1t1','s1t2','s1t3','s1t4'];
        for (var i = 0; i < x.length; ++i) clear(x[i])
    }

    function showPassed(){
        ws.onmessage = function(e) {
            showPass(e.data)
        };
        if (sessionStorage.sessName != "undefined" && sessionStorage.sessName != undefined) {
            ws.send ("getPassTest `"+sessionStorage.sessName);
        } else {
            console.info("Session is not logged in")
        }

     }

    function loginExtra(){
        setTimeout(function(){showPassed()}, 350);
    }
    function logOutExtra(){
        clearPass()
    }


    window.onload = function () {
        connect();
        chkLogin();
    }
</script>
</html>